<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="row">
        <div class="container-fluid bg-primary">
            <div class="col-md-4  ">
                <div>
                    <a href="#"> <i class="fa fa-book fa-2x headerIcon header-color-white" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="nav navbar-nav navbar-right">
                    <li class="header-color-white">
                        <a href="#/login"><p class="header-color-white">Login</p></a>
                    </li>
                    <li class="header-color-white">
                        <a href="#/register"><p class="header-color-white">Register</p></a>
                    </li>
                    <li class="thirdPartyLink">
                        <a class="fbjsLogin" data-redirect="/" href="/auth/facebook">
                            <img alt="Sign in with Facebook" title="Sign in with your Facebook account" src="https://s.gr-assets.com/assets/home/homepage_signin_facebook-99e862a1d6c0b1f359c0332006e16e10.png">
                        </a>

                    <li class="thirdPartyLink">
                        <a href="/auth/google"><img alt="Sign in with Google" title="Sign in with your Google account" src="https://s.gr-assets.com/assets/home/homepage_signin_google-4b119f254f4e8224b9a35ecb5f4fac55.png"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <h2 class="centered">About Read Together</h2>
    <h3>How It Works</h3>

    Read Together is a website that helps book lovers find one another, and just that, read together. Driven by the Google book search service, Read Together helps you
    discover new books, organize it, and socialize it with your friends.

    Signing up is simple — you just enter your details and a password.
    You can also login using your Facebook and Google profiles.

    <h3>In a Nutshell</h3>

    You can start using Read Together by logging in, selecting books that you have read, that you are reading, or that you want to read and add them to "your bookshelves".
    You can do this by searching for books, or by perusing your friends' lists. You will be provided three default bookshelves  (read, currently-reading, and to-read), for organization.

    <h3>Add Your Books, And Write Your Reviews!</h3>

    To add books to your shelves, search by author name or book title. You can find detailed information about books you are interested in.
    You will be able to add, edit or delete your reviews for a book any time you want.

    <h3>Talk to Your Friends</h3>

    Take advantage of our robust messaging features, available site-wide, to chat instantly with your friends.

    <h3>Personalize Your Profile</h3>

    After you post your basic info, start adding books to your virtual shelves, and give your friends a glimpse into what makes you you.
    Some people simply list their current favorites; others catalog everything they have ever read.

    <h3>Contact Us</h3>
    Do you have any questions or feedback? <a href='mailto:janardhanan.so@husky.neu.edu,sreenivasamurthy.n@husky.neu.edu'>Contact Us</a> .
</div>