<nav class="navbar navbar-default navbar-fixed-top ">
     <div class="row">
         <div class="container-fluid bg-primary">
             <div class="col-md-4  ">
                 <div>
                     <a href="#"> <i class="fa fa-book fa-2x headerIcon header-color-white" aria-hidden="true"></i></a>
                 </div>
             </div>
             <div class="col-md-8">
                     <ul class="nav navbar-nav navbar-right">
                         <li class="header-color-white">
                             <a href="#/login"><p class="header-color-white">Login</p></a>
                         </li>
                         <li class="header-color-white">
                             <a href="#/register"><p class="header-color-white">Register</p></a>
                         </li>
                         <li class="thirdPartyLink">
                         <a class="fbjsLogin" data-redirect="/" href="/auth/facebook">
                         <img alt="Sign in with Facebook" title="Sign in with your Facebook account" src="https://s.gr-assets.com/assets/home/homepage_signin_facebook-99e862a1d6c0b1f359c0332006e16e10.png">
                         </a>

                         <li class="thirdPartyLink">
                         <a href="/auth/google"><img alt="Sign in with Google" title="Sign in with your Google account" src="https://s.gr-assets.com/assets/home/homepage_signin_google-4b119f254f4e8224b9a35ecb5f4fac55.png"></a>
                         </li>
                     </ul>
             </div>
         </div>
     </div>
 </nav>

<br>

<div class=" main-content-padding">
    <div class="main-page-heading ">
            <div class="container">
                <div class="text-center">
                    <div>
                    <h1>Read Together</h1>
                    <h4>Discover your next favorite book, together!</h4>
                    </div>
                    <hr class="small">
                    <div class="row">
                        <div class="input-group">
                            <input ng-click="model.navigateToSearchBooks()"
                                   ng-model="model.searchText" type="text" class="form-control">
                            <span class="input-group-btn">

                                <!--<a  ng-click="model.searchForBooks()"-->
                                    <!--class="btn btn-info"-->
                                    <!--type="button">-->
                                    <!--<span class="glyphicon glyphicon-search"></span>-->
                                <!--</a>-->
                                <a ng-click = "model.navigateToSearchBooks()"
                                    class="btn btn-info"
                                    type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-xs-2" ng-repeat="book in model.sampleBooks">
                            <div>
                                <a ng-click="model.getBookDetails(book.id)">

                                    <img class="img-portfolio img-responsive center-block"
                                         ng-src="{{book.volumeInfo.imageLinks.thumbnail}}"
                                         min-height="75px">
                                    <br>
                                    <h5>{{book.volumeInfo.title}}</h5>
                                </a>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="centered">Know more about <a href="#/about"> <b>Read Together</b></a></p>
                <h4 class="centered">Looking for some inspiration? </h4>
                <h5 class="italic centered">Check out Bill Gates' <a href="https://www.gatesnotes.com/Books#All">fabulous blog on reading.</a> </h5>
            </div>
    </div>

