<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="row">
            <div class="container-fluid bg-primary">
                <div class="col-md-4">
                    <p class="navbar-text pull-left">
                        <a ng-click="model.navigateToUserHome()"
                           class="pointer">
                            <span class="glyphicon glyphicon-menu-left header-color-white"></span>
                        </a>
                    </p>
                    <a class="navbar-brand"><b class="header-color-white">Admin Options</b></a>
                </div>
                <!--<div class="col-md-offset-4 col-md-4">
                    <p class="navbar-text pull-right">
                        <a ng-click="model.navigateToSearchBooks()"
                           class="pointer">
                            <span class="glyphicon glyphicon-search header-color-white"></span>
                        </a>
                    </p>
                </div>-->
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="container-fluid zero-right-padding">
            <ul class="container-fluid list-group profile-body">
                <li ng-repeat="option in model.options"
                    class="list-group-item no-border zero-left-padding zero-right-padding">
                    <a ng-click="model.submitOption(option.optionIndex)"
                       class="pointer">
                        {{option.text}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid navbar-footer bg-primary">
            <div class="row navbar-text navbar-right">
                <div class="col-xs-12 container text-center">
                    <a ng-click="model.navigateToUserHome()"
                       class="pointer">
                        <span class="glyphicon glyphicon-user footer-color-white pull-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
