<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="row">
            <div class="container-fluid bg-primary">
                <div class="col-md-4">
                    <p class="navbar-text pull-left">
                        <a ng-click="model.navigateToProfile()"
                           class="pointer">
                            <span class="glyphicon glyphicon-menu-left header-color-white"></span>
                        </a>
                    </p>
                    <a class="navbar-brand"><b class="header-color-white">Friends</b></a>
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <p class="navbar-text pull-right">
                        <a ng-click="model.navigateToSearchFriends()"
                           class="pointer">
                            <span class="glyphicon glyphicon-search header-color-white"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid profile-body">
        <div class="input-group">
            <input id="searchText" ng-model="model.searchText" type="text" class="form-control">
            <span class="input-group-btn">
                <a ng-click="model.search(model.searchText)"
                   class="btn btn-info"
                   type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </span>
        </div>
        <br>
        <div>
            <div ng-repeat="searchedResult in model.searchResults">
                <div class="row">
                    <div class="col-xs-8">{{searchedResult.username}}: {{searchedResult.firstName}} {{searchedResult.lastName}}</div>
                        <div class="col-xs-4">
                            <div class="btn-group btn-block list-cell-element-right-padding" data-toggle="buttons-radio">
                                <button ng-click="model.evictReader(entity)"
                                        class="btn btn-danger pull-right">Delete</button>
                                <button ng-click="model.makeAdmin(entity)"
                                        class="btn btn-success pull-right">Make Admin</button>
                            </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div>
            <h3>List of all Readers:</h3>
            <div ng-repeat="entity in model.allEntities">
                <div class="row">
                    <div class="col-xs-8">{{entity.username}}: {{entity.firstName}} {{entity.lastName}}</div>
                    <div class="col-xs-4">
                        <div class="btn-group btn-block list-cell-element-right-padding" data-toggle="buttons-radio">
                            <button ng-click="model.evictReader(entity)"
                                    class="btn btn-danger pull-right">Delete</button>
                            <button ng-click="model.makeAdmin(entity)"
                                    class="btn btn-success pull-right">Make Admin</button>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <br>


        <!--<div class="container-fluid zero-right-padding">
            <ul class="container-fluid list-group profile-body">
                <li ng-repeat="friend in model.friends"
                    class="list-group-item no-border zero-left-padding zero-right-padding">
                    &lt;!&ndash;<a ng-click="model.enlistFriends()"
                       class="pointer">
                        {{friend.firstname}}
                    </a>&ndash;&gt;
                    <div class="row">
                        <div class="col-xs-6">{{friend.username}}: {{friend.firstName}} {{friend.lastName}}</div>
                        <div class="col-xs-5">
                            <button ng-click="model.navigateToMessageFriend(friend)"
                                    class="btn btn-warning">Message</button>
                        </div>
                        <div class="col-xs-1">
                            <button ng-click="model.removeFriend(user)"
                                    class="btn btn-danger btn-xs pull-right">Remove</button>
                        </div>
                    </div>
                    <br>
                    <br>
                </li>
            </ul>
        </div>-->
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid navbar-footer bg-primary">
            <div class="row navbar-text navbar-right">
                <div class="col-xs-12 container text-center">
                    <a ng-click="model.navigateToUserHome()"
                       class="pointer">
                        <span class="glyphicon glyphicon-user footer-color-white pull-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
