<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-text"><b> Hello {{model.user.firstName}} {{model.user.lastName}}! </b></a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <span class="glyphicon glyphicon-user pull-right glyph"></span>
                <span class="glyphicon glyphicon-user pull-right glyph"></span>
            </ul>

        </div><!-- /.navbar-collapse --></div>
    </div><!-- /.container-fluid -->
</nav>


<!--<nav class="navbar navbar-default navbar-fixed-top">-->
        <!--<div class="row">-->
            <!--<div class="container-fluid">-->
                <!--<div class="col-md-4">-->
                    <!--<a class="navbar-text"><b> Hello {{model.user.firstName}} {{model.user.lastName}}! </b></a>-->
                <!--</div>-->
                <!--<span class="glyphicon glyphicon-user pull-right glyph"></span>-->
                <!--<button ng-click="model.logout()"-->
                        <!--type="submit" class="btn btn-default">Logout</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->


<div class="container-fluid">
        <h1>Hello </h1>

        <a ng-click="model.navigateToListOfFriends(model.user)"
           class="btn btn-primary btn-block">Friends</a>
        <a ng-click="model.navigateToMessages(model.user)"
           class="btn btn-info btn-block">Messages</a>

        <a ng-click="model.enlistBookshelves(model.user)"
           class="btn btn-primary btn-block">Bookshelves</a>

        <a ng-click="model.unregisterUser(model.user)"
           class="btn btn-warning btn-block">Unregister</a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid navbar-footer bg-primary">
            <div class="row navbar-text navbar-right">
                <div class="col-xs-12 container text-center">
                    <a ng-click="model.navigateToProfile()"
                       class="pointer">
                        <span class="glyphicon glyphicon-user footer-color-white pull-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
