<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row">
        <div class="container-fluid bg-primary">
            <div class="col-md-4 ">
                <!--<p class="navbar-text pull-left">-->
                    <!--<a ng-click="model.navigateToProfile()"-->
                       <!--class="pointer">-->
                        <!--<span class="glyphicon glyphicon-menu-left "></span>-->
                    <!--</a>-->
                <!--</p>-->

                    <a ng-click="model.navigateToProfile()"
                       class="navbar-text "><b class="header-color-white">Hello {{model.user.firstName}} {{model.user.lastName}}!</b></a>
            </div>
            <div class="col-md-offset-4 col-md-4">
                <div class="navbar-text pull-right">
                    <ul id="mylist" class="list-inline">
                        <li id="item1" ng-click="model.navigateToListOfFriends(model.user)" class="list-inline-item header-color-white">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </li>
                        <li id="item2" ng-click="model.navigateToMessages(model.user)" class="list-inline-item header-color-white">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid profile-body">
    <br>
    <br>
    <h3 class="text-center-align">Remember what you were reading? </h3>
    <br>
    <div>
        <div class="row container-fluid list-group panel panel-block ">
            <div ng-repeat="bookshelf in model.bookshelves"
                class="col-sm-4 list-group-item no-border zero-left-padding zero-right-padding">
                 <!--style="max-height:300px ; min-height:300px; overflow-y: scroll;">-->
                <button type="button"
                        ng-click="model.enlistBooks(bookshelf)"
                        class="btn btn-block btn-lg"
                        ng-class="{'btn-primary': model.compareBookshelfType(bookshelf.type,'TO_READ'),
                                    'btn-warning': model.compareBookshelfType(bookshelf.type,'READ'),
                                    'btn-success': model.compareBookshelfType(bookshelf.type, 'CURRENTLY_READING')}">
                    {{model.compareBookshelfType(bookshelf.type,'TO_READ') ? 'To be read' : model.compareBookshelfType(bookshelf.type,'READ') ? 'Previously read' : 'Currently Reading'}}
                </button>

                <div ng-repeat="book in model.booksByBookshelf[bookshelf._id]"
                    class="text-center-align list-group-item no-border">
                    <a id="title" ng-click="model.navigateToBookDetails(bookshelf._id,book)"
                       class="pointer">
                        <i> {{book.title}} </i>
                    </a>

                </div>
            </div>
        </div>
    </div>
 </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid navbar-footer bg-primary">
            <div class="row navbar-text navbar-right">
                <div class="col-xs-12 container text-center">
                    <a ng-click="model.navigateToProfile()"
                       class="pointer">
                        <span class="glyphicon glyphicon-user footer-color-white pull-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
