<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row">
        <div class="container-fluid">
            <div class="col-md-4">
                <p class="navbar-text pull-left">
                    <a ng-click="model.navigateToProfile()"
                       class="pointer">
                        <span class="glyphicon glyphicon-menu-left "></span>
                    </a>
                </p>

                    <a ng-click="model.navigateToProfile()"
                       class="navbar-text"><b class="">Hello {{model.user.firstName}} {{model.user.lastName}}!</b></a>
            </div>
            <div class="col-md-offset-4 col-md-4">
                <div class="navbar-text pull-right">
                    <ul id="mylist" class="list-inline">
                        <li id="item1" ng-click="model.navigateToListOfFriends(model.user)" class="list-inline-item">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </li>
                        <li id="item2" ng-click="model.navigateToMessages(model.user)" class="list-inline-item">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
        <br>
    <br>
        <p>Add books to your bookshelves, and keep track of your reading.</p>
        <p>Looking for some inspiration? Check out Bill Gates' <a href="https://www.gatesnotes.com/Books#All">fabulous blog on reading.</a> </p>
    <!--<a ng-click="model.enlistBookshelves(model.user)"-->
           <!--class="btn btn-primary btn-block">Bookshelves</a>-->
    <div class="col-sm-4">
        <a href="#"
           class="btn btn-primary btn-block">Want to Read</a> </div>
    <div class="col-sm-4">
        <a href="#"
           class="btn btn-info btn-block">Currently Reading</a>
    </div>
    <div class="col-sm-4">
        <a href="#"
           class="btn btn-info btn-block">Finished Reading</a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid navbar-footer bg-primary">
            <div class="row navbar-text navbar-right">
                <div class="col-xs-12 container text-center">
                    <a ng-click="model.navigateToProfile()"
                       class="pointer">
                        <span class="glyphicon glyphicon-user footer-color-white pull-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
