<div>
    <nav class="navbar navbar-default  navbar-fixed-top">
        <div class="row">
            <div class="container-fluid bg-primary ">
                <div class="col-md-4">
                    <p class="navbar-text pull-left">
                        <a ng-click="model.navigateToProfile()"
                           class="pointer">
                            <span class="glyphicon glyphicon-menu-left header-color-white"></span>
                        </a>
                    </p>
                    <a class="navbar-brand"><b class="header-color-white">Books</b></a>
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <p class="navbar-text pull-right">
                        <a ng-click="model.navigateToSearchBooks()"
                           class="pointer">
                            <span class="glyphicon glyphicon-search header-color-white"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>

    <!--<div class="container-fluid profile-body">-->
        <!--<div class="container-fluid zero-right-padding">-->
            <!--<div ng-repeat="book in model.books" ng-click="model.navigateToBookDetails(book)">-->
                <!--<div class="row widget-list-element-top-bottom-margin">-->
                    <!--<div class="col-xs-2 pointer">-->
                        <!--<img ng-src="{{book.smallThumbnail}}" height="50px">-->
                    <!--</div>-->
                    <!--<div class="col-xs-10 pointer">-->
                        <!--<h4 class="bold zero-margin-top">-->
                            <!--{{book.title}}-->
                        <!--</h4>-->
                        <!--<ul class="list-inline zero-margin-bottom">-->
                            <!--<li class="inline" ng-repeat="author in book.authors">-->
                                <!--<h5 class="zero-margin-bottom">&bull; {{author}}</h5>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<br/>-->
                <!--<br/>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid navbar-footer bg-primary">
                <div class="navbar-text pull-right">
                    <ul id="mylist" class="list-inline ">
                        <li id="item1" ng-click="model.navigateToProfile(model.user)" class="list-inline-item header-color-white pointer ">
                            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                        </li>
                        <li id="item2" ng-click="model.navigateToMessages(model.user)" class="list-inline-item header-color-white pointer ">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>
</div>
