<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid row">
            <div class="container-fluid">
                <p class="navbar-text pull-left">
                    <a ng-click="model.navigateToEditWidget()"
                       class="pointer">
                        <span class="glyphicon glyphicon-menu-left footer-color-black"></span></a>
                </p>
                <a class="navbar-brand"><b>Search Books</b></a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="profile-body">
            <div class="input-group">
                <input ng-model="model.searchText" type="text" class="form-control">
                <span class="input-group-btn">
                    <a ng-click="model.searchForBooks()"
                       class="btn btn-info"
                       type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </span>
            </div>
            <br>
            <div class="row">
                <div ng-repeat="book in model.books" ng-click="model.navigateToBookView(book)">
                    <div class="row">
                        <div class="col-sm-6">
                        <img class="foo center-block" ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" class="book-detail-poster">
                         </div>
                        <div>
                        <h4 class="star list-group-item-heading float-right">{{book.volumeInfo.title}}</h4>
                        <ul class="list-unstyled ">
                            <li class="inline"  ng-repeat="author in book.volumeInfo.authors">
                                {{author}}
                            </li>
                        </ul>
                        <p class="list-group-item-text">{{book.volumeInfo.subtitle}}</p>

                        </div>

                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid row">
            <div class="container-fluid">
                <p class="navbar-text pull-right">
                    <a ng-click="model.navigateToProfile()"
                       class="pointer">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>

</div>