<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid row">
            <div class="container-fluid">
                <p class="navbar-text pull-left">
                    <a ng-click="model.navigateToEditWidget()"
                       class="pointer">
                        <span class="glyphicon glyphicon-menu-left footer-color-black"></span></a>
                </p>
                <a class="navbar-brand"><b>Search Books</b></a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="profile-body">
            <div class="input-group">
                <input ng-model="model.searchText" type="text" class="form-control">
                <span class="input-group-btn">
                    <a ng-click="model.searchForBooks()"
                       class="btn btn-info"
                       type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </span>
            </div>
            <br>
            <div ng-repeat="book in model.books" ng-click="model.navigateToBookView(book)">
                <div class="row widget-list-element-top-bottom-margin">
                    <div class="col-xs-2 pointer">
                        <img ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" height="75px">
                    </div>
                    <div class="col-xs-10 pointer">
                        <h4 class="bold zero-margin-top">
                            {{book.volumeInfo.title}}<h6 class="italic zero-margin-top">{{book.volumeInfo.subtitle}}</h6>
                        </h4>
                        <ul class="list-inline zero-margin-bottom">
                            <li class="inline" ng-repeat="author in book.volumeInfo.authors">
                                <h5 class="zero-margin-bottom">&bull; {{author}}</h5>
                            </li>
                        </ul>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid row">
            <div class="container-fluid">
                <p class="navbar-text pull-right">
                    <a ng-click="model.navigateToProfile()"
                       class="pointer">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>

</div>