<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid row">
            <!--<div class="container-fluid">-->
                <!--<p class="navbar-text pull-left">-->
                    <!--<a ng-click="model.navigateToEditWidget()"-->
                       <!--class="pointer">-->
                        <!--<span class="glyphicon glyphicon-menu-left footer-color-black"></span></a>-->
                <!--</p>-->
                <!--<a class="navbar-brand"><b>Books</b></a>-->
            <!--</div>-->
            <a class="navbar-brand"><b>Books</b></a>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="profile-body">
            <div class="btn-group btn-block widget-list-element-top-bottom-margin" data-toggle="buttons-radio">
                <button type="button" ng-hide="model.checkBookshelf('CURRENTLY_READING')" ng-click="model.moveToBookshelf('CURRENTLY_READING')" class="col-xs-6 btn btn-success">Move to "Currently Reading"</button>
                <button type="button" ng-hide="model.checkBookshelf('READ')" ng-click="model.moveToBookshelf('READ')" class="col-xs-6 btn btn-warning">Move to "Previously Read"</button>
                <button type="button" ng-hide="model.checkBookshelf('TO_READ')" ng-click="model.moveToBookshelf('TO_READ')" class="col-xs-6 btn btn-primary">Move to "To Be Read"</button>
            </div>
            <br>
            <div class="row widget-list-element-top-bottom-margin">
                <div class="col-xs-3">
                    <img ng-src="{{model.book.volumeInfo.imageLinks.thumbnail}}" class="book-detail-poster">
                </div>
                <div class="col-xs-9">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="col-xs-3">Title:</td>
                            <td class="col-xs-6">{{model.book.volumeInfo.title}}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Author(s):</td>
                            <td class="col-xs-6">
                                <ul class="list-unstyled">
                                    <li ng-repeat="author in model.book.volumeInfo.authors">
                                        {{author}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Publisher:</td>
                            <td class="col-xs-6">{{model.book.volumeInfo.publisher}}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Published date:</td>
                            <td class="col-xs-6">{{model.book.volumeInfo.publishedDate}}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Average Rating:</td>
                            <td class="col-xs-6">{{model.book.volumeInfo.averageRating}}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Rating Count:</td>
                            <td class="col-xs-6">{{model.book.volumeInfo.ratingsCount}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container-fluid row">
                <h4>Brief Description:</h4>
                <div ng-bind-html="model.checkSafeHtml(model.book.volumeInfo.description)"
                     class="container-fluid zero-right-padding text-justify"></div>
                <h4><br/></h4>
            </div>
            <button ng-click="model.deleteBook()" class="btn btn-block btn-danger">Delete Book from Bookshelf</button>
            <br/>
            <br/>
            <div class="form-group">
                <label for="yourReview">{{model.userHasAlreadyReviewed ? 'Click here to edit' : 'Add'}} your review:</label>
                <textarea id="reviewEditTextArea" ng-hide="model.userHasAlreadyReviewed && model.EDIT == model.editUpdateString" class="form-control" rows="5" id="yourReview" ng-model="model.reviewOfThisUser.review"></textarea>
                <button ng-hide="model.userHasAlreadyReviewed" ng-click="model.createReview(model.reviewOfThisUser.review)" class="btn btn-block btn-primary">Submit</button>
                <div ng-show="model.userHasAlreadyReviewed" class="btn-group btn-block widget-list-element-top-bottom-margin" data-toggle="buttons-radio">
                    <button type="button" ng-click="model.editOrUpdate()" class="col-xs-6 btn" ng-class="{'btn-success': model.UPDATE == model.editUpdateString, 'btn-primary': model.EDIT == model.editUpdateString}">{{model.editUpdateString}}</button>
                    <button type="button" ng-click="model.deleteReview()" class="col-xs-6 btn btn-danger">Delete</button>
                </div>
            </div>
            <br/>
            <h4 ng-show="0 != model.reviews.length">Reviews:</h4>
            <div>
                <ul class="list-group">
                    <li ng-repeat="review in model.reviews" class="list-group-item book-individual-review">
                        <p class="list-group-item-heading reviewer">Reviewer: {{review.name}}</p>
                        <p class="list-group-item-text">{{review.review}}</p>
                    </li>
                </ul>
            </div>
            <div ng-show="model.reviewError" class="alert alert-danger add-to-book-shelf" role="alert">
                {{model.reviewError}}
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid row">
            <div class="container-fluid">
                <p class="navbar-text pull-right">
                    <a ng-click="model.navigateToProfile()"
                       class="pointer">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>

</div>

