<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid row bg-primary">
            <div class="container-fluid">
                <p class="navbar-text pull-left">
                    <a ng-click="model.navigateToUserHome()"
                       class="pointer">
                        <span class="glyphicon glyphicon-menu-left header-color-white"></span></a>
                </p>
                <a class="navbar-brand"><b>Search Books</b></a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="profile-body">
            <div class="row widget-list-element-top-bottom-margin">
                <div class="col-xs-3">
                    <img ng-src="{{model.book.volumeInfo.imageLinks.thumbnail}}" class="book-detail-poster">
                </div>
                <div class="col-xs-9">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="col-xs-3">Title:</td>
                            <td class="col-xs-6">{{model.book.volumeInfo.title}}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Author(s):</td>
                            <td class="col-xs-6">
                                <ul class="list-unstyled">
                                    <li ng-repeat="author in model.book.volumeInfo.authors">
                                        {{author}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Publisher:</td>
                            <td class="col-xs-6">{{model.book.volumeInfo.publisher}}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Published date:</td>
                            <td class="col-xs-6">{{model.book.volumeInfo.publishedDate}}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Average Rating:</td>
                            <td class="col-xs-6">{{model.book.volumeInfo.averageRating}}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Rating Count:</td>
                            <td class="col-xs-6">{{model.book.volumeInfo.ratingsCount}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="container-fluid row">
                <h4>Brief Description:</h4>
                <div ng-bind-html="model.checkSafeHtml(model.book.volumeInfo.description)"
                     class="container-fluid zero-right-padding text-justify"></div>
                <h4><br/></h4>
            </div>
            <br>
            <h4 ng-show="0 != model.reviews.length">Reviews:</h4>
            <div>
                <ul class="list-group">
                    <li ng-repeat="review in model.reviews" class="list-group-item book-individual-review">
                        <p class="list-group-item-heading reviewer">Reviewer: {{review.firstName}} {{review.lastName}}</p>
                        <p class="list-group-item-text">{{review.review}}</p>
                    </li>
                </ul>
            </div>
            <div ng-show="model.reviewError" class="alert alert-danger add-to-book-shelf" role="alert">
                {{model.reviewError}}
            </div>
        </div>
    </div>
    <br>
    <div class="centered"><a href="#/login" class="btn btn-info">Login</a> to add to your bookshelf and post a review</div>
    <br>
    <div>
    <ul class="list-group">
        <li ng-repeat="review in model.reviews" class="list-group-item book-individual-review">
            <a ng-click="model.deleteReview(review)" class="pull-right"><i class="fa fa-trash" aria-hidden="true"></i></i></a>
            <p class="list-group-item-heading reviewer">Reviewer: {{review.firstName}} {{review.lastName}}</p>
            <p class="list-group-item-text">{{review.review}}</p>
        </li>
    </ul>
    </div>
    <div ng-show="model.reviewError" class="alert alert-danger add-to-book-shelf" role="alert">
        {{model.reviewError}}
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid navbar-footer bg-primary">
            <div class="navbar-text pull-right">
                <ul id="mylist" class="list-inline ">
                    <li id="item1" ng-click="model.navigateToProfile(model.user)" class="list-inline-item pointer header-color-white">
                        <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                    </li>
                    <li id="item2" ng-click="model.navigateToMessages(model.user)" class="list-inline-item pointer header-color-white">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>