<!--<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="row">
            <div class="container-fluid bg-primary">
                <div class="col-md-4">
                    <p class="navbar-text pull-left">
                        <a ng-click="model.navigateToProfile()"
                           class="pointer">
                            <span class="glyphicon glyphicon-menu-left header-color-white"></span>
                        </a>
                    </p>
                    <a class="navbar-brand"><b class="header-color-white">Websites</b></a>
                </div>
                <div class="col-md-8">
                    <button ng-click="model.searchForBooks()" class="btn btn-default pull-right">Submit</button>
                    <div class="form-group pull-right">
                        <input ng-model="model.searchText" type="text" class="form-control" placeholder="Search">
                    </div>
                    &lt;!&ndash;<p class="navbar-text pull-right">
                        <a ng-click="model.navigateToAddWebsite()"
                           class="pointer pull-right">
                            <span class="glyphicon glyphicon-search header-color-white"></span>
                        </a>
                    </p>&ndash;&gt;
                </div>
            </div>
        </div>
    </nav>-->

<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="row">
            <div class="container-fluid bg-primary">
                <div class="col-md-4">
                    <p class="navbar-text pull-left">
                        <a ng-click="model.navigateToProfile()"
                           class="pointer">
                            <span class="glyphicon glyphicon-menu-left header-color-white"></span>
                        </a>
                    </p>
                    <a class="navbar-brand"><b class="header-color-white">Bookshelves</b></a>
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <p class="navbar-text pull-right">
                        <a ng-click="model.navigateToSearchBooks()"
                           class="pointer">
                            <span class="glyphicon glyphicon-search header-color-white"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="container-fluid zero-right-padding">
            <ul class="container-fluid list-group profile-body">
                <li ng-repeat="bookshelf in model.bookshelves"
                    class="list-group-item no-border zero-left-padding zero-right-padding">
                    <a ng-click="model.enlistBooks(bookshelf)"
                       class="pointer">
                        {{bookshelf.name}}
                    </a>
                    <a ng-click="model.navigateToEditWebsite(bookshelf)"
                       class="pointer pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid navbar-footer bg-primary">
            <div class="navbar-text pull-right">
                <ul id="mylist" class="list-inline ">
                    <li id="item1" ng-click="model.navigateToListOfFriends(model.user)" class="list-inline-item pointer header-color-white">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </li>
                    <li id="item2" ng-click="model.navigateToMessages(model.user)" class="list-inline-item pointer header-color-white">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
